nakidai.ru {
    encode gzip
    root * /srv/www/nakidai.ru
    file_server
}

i.nakidai.ru {
    encode gzip
    root * /srv/www/i.nakidai.ru
    file_server
}

pronouns.nakidai.ru {
    redir https://pronouns.page/u/nakidai
}

matrix.nakidai.ru {
    redir "https://matrix.to/#/@nakidai:matrix.org"
}

pwn3t.ru {
    encode gzip
    root * /srv/www/pwn3t.ru
    file_server
}

ptc.pwn3t.ru {
    reverse_proxy localhost:8080
}

stp.pwn3t.ru {
    reverse_proxy localhost:8081
}

latexds.pwn3t.ru {
    reverse_proxy localhost:8082
}

qubane.pwn3t.ru {
    reverse_proxy {
        to qubane.ru:80
        header_up Host qubane.ru
    }
    header /css/styles.css {
        Content-Type text/css
    }
}

import /var/lib/caddy/vps/beretvrot/Caddyfile
