nakidai.ru {
    encode gzip
    root * www/nakidai.ru
    file_server
}

i.nakidai.ru {
    encode gzip
    root * www/i.nakidai.ru
    file_server
}

pwn3t.ru {
    encode gzip
    root * www/pwn3t.ru
    file_server
}
