nakidai.ru {
    encode gzip
    root * /srv/www/nakidai.ru
    file_server
}

i.nakidai.ru {
    encode gzip
    root * /srv/www/i.nakidai.ru
    file_server
}

pronouns.nakidai.ru {
    redir https://pronouns.page/u/nakidai
}

matrix.nakidai.ru {
    redir "https://matrix.to/#/@nakidai:matrix.org"
}

pwn3t.ru {
    encode gzip
    root * /srv/www/pwn3t.ru
    file_server
}

ptc.pwn3t.ru {
    reverse_proxy localhost:8080
}

stp.pwn3t.ru {
    reverse_proxy localhost:8081
}

latexds.pwn3t.ru {
    reverse_proxy localhost:8082
}

# беруврот.рф {
#     encode gzip
#     root * /srv/www/beruvrot.rf
#     file_server
# }
